# Configurações da API compatível com OpenAI (fornecida pelo professor)
LLM_BASE_URL=https://sua-base-url-aqui/v1
LLM_API_KEY=seu-token-aqui

# Modelo 
MODEL_ID=Qwen/Qwen2.5-14B-Instruct-AWQ

# Tokens máximos gerados por chamada
MAX_NEW_TOKENS=512

# RAG
CHUNK_SIZE=700
CHUNK_OVERLAP=120
RAG_TOP_K=3
EMBED_MODEL=sentence-transformers/multi-qa-MiniLM-L6-cos-v1
